body {
  padding-bottom: 30px;
}

.page-header .btn-back {
    float: left;
    margin-right: 15px;
    margin-top: 0.4em;
    color: #666;
}

.page-header h1 {
    float: left;
    margin-top: 0;
}

.page-header .btn-actions {
    float: right;
}

.page-header .btn-actions .btn-info:first-child {
    width: 95px;
}

.page-header .btn-actions .dropdown-menu {
    min-width: 0;
}

.contents {
    margin-top: 20px;
}

.container[role=footer] {
    text-align: right;
    color: #888;
}