body {
        padding-bottom: 30px;
}

a {
    outline: none !important;
}

/*
  Header
*/

.page-header {
    border-bottom: 1px solid #ddd;
    margin: 40px 0 15px;
}
.page-header .btn-back {
    float: left;
    margin-right: 15px;
    margin-top: 0.2em;
    color: #666;
}

.page-header h1 {
    float: left;
    margin-top: 0;
    font-size: 30px;
}

.page-header .btn-actions {
    float: right;
}

.page-header .btn-actions .btn-info:first-child,
.page-header .btn-actions .btn-primary:first-child {
    width: 95px;
}

.page-header .btn-actions .dropdown-menu {
    min-width: 0;
}

/*
  Footer
*/

.page-footer {
    border-top: 1px solid #ddd;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
    color: #888;
}

.page-footer .page-revision {
    float: left;
    color: #999;
    font-size: 14px;
}

.page-footer .poweredby {
    float: right;
}

/*
  Page.show
*/

.page-not-found {
    margin: 0 0 30px 0;
}

.contents {
    font-size: 16px;
}

.contents li {
    margin: 0 0 3px 0;
}

.contents li p {
    margin: 0;
}

.contents table {
    width: auto;
}

.sidebar hr {
    margin-top: 15px;
    border-top: 1px solid #ddd;
}

.sidebar .sidebar-block {
    margin-bottom: 30px;
}

.sidebar .sidebar-block:last-child {
    margin-bottom: 0px;
}

.sidebar .sidebar-block h4 {
    margin-top: 0;
}

.sidebar .sidebar-block ul {
    padding: 0;
}

.sidebar .sidebar-block li {
    list-style-type: none;
    margin-bottom: 5px;
}

.sidebar .sidebar-block .created,
.sidebar .sidebar-block .updated {
    color: #888;
    font-size: 12px;
}


/*
  Page.modify
*/

.btn-toolbar {
    margin-top: -5px;
    margin-left: 0px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
}
.btn-toolbar .btn {
    border: none;
    margin-left: 0px;
}

.btn-toolbar .btn:focus {
    outline: none;
}

.btn-toolbar .dropdown {
    display: inline-block;
}

.btn-toolbar .btn-fullscreen {
    float: right;
}

.nav-description span {
    text-transform: uppercase;
}

.nav-description a {
    float: right;
    color: #aaa;
    margin: 0 5px;
}

.nav-description .desc-markdown,
.nav-description .desc-preview {
    width: 50%;
    float: left;
    padding: 0 10px 5px 10px;
    color: #aaa;
}

.nav-description .desc-preview {
    border-left: 1px solid #ddd;
}

.editor {
    height: 300px;
}

.CodeMirror {
    height: 100%;
    width: 100%;
    float: left;
    padding: 10px;
}

#Preview {
    height: 100%;
    width: 100%;
    float: left;
    overflow-y: auto;
    padding: 10px;
    word-break: break-all;
    word-wrap: break-word;
    background-color: #fff;
}

@media (min-width: 992px) {
    .CodeMirror {
        width: 50%;
        display: block !important;
    }
    #Preview {
        width: 50%;
        display: block !important;
        border-left: 1px solid #ddd;
    }
}

:-webkit-full-screen { width: 100%; height: 100%; }
:-moz-full-screen { width: 100%; height: 100%; }
:full-screen { width: 100%; height: 100%; }
:fullscreen { width: 100%; height: 100%; }

#Help table ul,
#Help table ol {
    margin: 0;
    padding-left: 1.5em;
}

#Help blockquote {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: inherit;
}

/*
  Page.Diff
*/

tr.show-diff td {
    cursor: pointer;
}

tr.show-diff td .label {
    padding: .2em .4em .2em;
    margin: 0 0 0 4px;
}

.diff table {
    width: 100%;
    background-color: lightgrey;
    border-spacing: 1px;
}

.diff tr {
    background-color: white;
}

.diff .line {
    width: 50%;
}

.diff .line-num {
    width: 0px;
    display: none;
}

.diff .added {
    background-color: #9e9;
}

.diff .deleted {
    background-color: #e99;
}

.diff code.hljs {
    font-family: monospace;
    line-height: 1.3;
    background: none;
    font-size: 14px;
}
