body {
  padding-bottom: 30px;
}

.page-header .btn-back {
    float: left;
    margin-right: 15px;
    margin-top: 0.2em;
    color: #666;
}

.page-header h1 {
    float: left;
    margin-top: 0;
    font-size: 30px;
}

.page-header .btn-actions {
    float: right;
}

.page-header .btn-actions .btn-info:first-child,
.page-header .btn-actions .btn-primary:first-child {
    width: 95px;
}

.page-header .btn-actions .dropdown-menu {
    min-width: 0;
}

.page-revision {
    color: #999;
    font-size: 14px;
    padding: 10px 0;
    margin: 20px 0 0 0;
}

.page-not-found {
    margin: 0 0 30px 0;
}

.contents {
    margin-top: 20px;
    font-size: 16px;
}

.page-footer {
    border-top: 1px solid #eee;
    margin: 15px 0 0 0;
    padding: 15px 0 0 0;
}

.page-footer .poweredby {
    float: right;
    color: #888;
}

/*
  Page.show
*/
.contents li p {
    margin: 0;
}

/*
  Page.modify
*/

.CodeMirror {
    height: 300px;
}

:-webkit-full-screen { height: 100%; }
:-moz-full-screen { height: 100%; }
:full-screen { height: 100%; }
:fullscreen { height: 100%; }

/*
  Page.Diff
*/

tr.show-diff td {
    cursor: pointer;
}

tr.show-diff td .label {
    padding: .2em .4em .2em;
    margin: 0 0 0 4px;
}

.diff table {
    width: 100%;
    background-color: lightgrey;
    border-spacing: 1px;
}

.diff tr {
    background-color: white;
}

.diff .line {
    width: 50%;
}

.diff .line-num {
    width: 0px;
    display: none;
}

.diff .added {
    background-color: #9e9;
}

.diff .deleted {
    background-color: #e99;
}

.diff code.hljs {
    font-family: monospace;
    line-height: 1.3;
    background: none;
    font-size: 14px;
}
