{{set . "title" .pageName}}
{{template "header.html" .}}

<div class="page-header clearfix">
    {{if ne .pageName "Home"}}
    <a href="/" class="btn btn-default btn-sm btn-back"><i class="fa fa-arrow-left"></i></a>
    {{end}}
    <h1>{{.pageName}}</h1>
    {{template "Page/actions.html" .}}
</div>

{{template "flash.html" .}}

<div class="diff-content">

    <ul class="nav nav-tabs" role="tablist">
        <li class="active"><a href="#Diff" role="tab" data-toggle="tab">Diff</a></li>
        <li><a href="#Preview" role="tab" data-toggle="tab">Preview</a></li>
    </ul>

    <div class="tab-content">
        <div class="tab-pane active" id="Diff">
            <pre><code class="diff">{{.diff}}</code></pre>
        </div>
        <div class="tab-pane contents" id="Preview">
            {{raw .html}}
        </div>
    </div>

</div>

{{template "footer.html" .}}
