{{set . "title" .pageName}}
{{append . "moreScripts" "/public/js/marked.js"}}
{{append . "moreScripts" "/public/js/editor.js"}}
{{append . "moreStyles" "/public/css/editor.css"}}
{{template "header.html" .}}

{{set . "action" "modify"}}

<form method="POST" action="/page/{{urlquery .pageName}}/modify">

    <div class="page-header clearfix">
        <a href="/page/{{urlquery .pageName}}" class="btn btn-default btn-sm btn-back"><i class="fa fa-arrow-left"></i></a>
        <h1>Editing: {{.pageName}}</h1>
        {{template "Page/actions.html" .}}
    </div>

{{template "flash.html" .}}

    <input type="hidden" name="page.Hash" value="{{.hash}}">

    {{with $field := field "page.Body" .}}
        <p class="{{$field.ErrorClass}}">
            <textarea id="Editor" name="{{$field.Name}}">{{$field.Value}}</textarea>
        </p>
        <span class="error">{{$field.Error}}</span>
    {{end}}

</form>

{{template "footer.html" .}}

<script>
$(function () {
    var editor = new Editor();
    editor.render();
});
</script>
