{{set . "title" .pageName}}
{{template "header.html" .}}

<div class="container" role="main">

    <div class="page-header clearfix">
        {{if ne .pageName "Home"}}
        <a href="/" class="btn btn-default btn-sm btn-back"><span class="glyphicon glyphicon-chevron-left"></span></a>
        {{end}}
        <h1>{{.pageName}}</h1>
        {{template "Page/actions.html" .}}
    </div>

    {{template "flash.html" .}}

    <div class="contents">
        {{raw .html}}
    </div>

</div>

{{template "footer.html" .}}
