<!DOCTYPE html>

<html>
    <head>
        <title>{{.title}} - Wiki</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <link rel="shortcut icon" type="image/png" href="/public/img/favicon.png">
        <meta name="viewport" content="width=device-width, minimum-scale=1, maximum-scale=1">

        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">

        <script src="//code.jquery.com/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

        {{range .moreStyles}}
        <link rel="stylesheet" type="text/css" href="{{.}}">
        {{end}}
        {{range .moreScripts}}
        <script src="{{.}}" type="text/javascript" charset="utf-8"></script>
        {{end}}

        <link rel="stylesheet" href="/public/css/common.css">
        <script src="/public/js/common.js"></script>

    </head>
    <body role="document">
        <div class="container" role="main">

{{set . "footerPageRevision" 0}}
